# contains global app settings

GAME

	audio_enabled: false
	world_width: 3840
	world_height: 1200
	cam_pan_speed: 1

END

ARMY
	
	default_req: 600

END

FOXHOLE

	req_cost: 100
	min_fox_dist: 128

END

TANKBARRIER

	req_cost: 100

END

ARMS

	bounce_cost: 500
	incinerate_cost: 500
	div_cost: 600
	break_cost: 850

END