# contains global app settings

GAME

	audio_enabled: true
	world_width: 7680
	world_height: 1200
	cam_pan_speed: 1

END

ARMY
	
	default_req: 600

END

FOXHOLE

	req_cost: 100
	min_fox_dist: 128

END

TANKBARRIER

	req_cost: 100

END

ARMS

	bounce_cost: 500
	incinerate_cost: 0
	div_cost: 900
	break_cost: 1000

END