 # contains the settings for a gunman unit

UNIT

	count: 6
	speed: 160
	health: 10
	movedist: 768
	reqcost: 200
	reqbonus: 100

END

ARMOR

	health: 4
	strength: 2

END

PRIMARY

	type: UNIT 
	range: 512
	firerate: 1
	strength: 4
	speed: 800
	accuracy: 0.8

	upgrade: 100
	levelmod: 1

END

SECONDARY

	type: POINT
	firerate: 1
	strength: 2
	speed: 800

	upgrade: 100
	levelmod: 1

END
