 # contains the settings for the default gunman

UNIT

	count: 6
	speed: 160
	health: 10
	movedist: 1024
	reqcost: 300

END

ARMOR

	health: 4
	strength: 2

END

PRIMARY

	type: UNIT 
	range: 512
	firerate: 1
	strength: 8
	speed: 800
	accuracy: 0.8

END

PRIMARY

	type: UNIT 
	range: 768
	firerate: 1
	strength: 8
	speed: 800
	accuracy: 0.8

END

SECONDARY

	type: POINT
	firerate: 1
	strength: 2
	speed: 800

END
