 # contains the settings for a spec ops unit

UNIT

	count: 4
	speed: 160
	health: 10
	reqcost: 500

END

ARMOR

	health: 8
	strength: 6

END

PRIMARY

	type: UNIT
	range: 768
	firerate: 1
	strength: 14
	speed: 800
	accuracy: 0.9

END

SECONDARY

	type: POINT
	firerate: 1
	strength: 2
	speed: 800

END
